* {
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #F6F0EB;
    padding: 0;
}

a {
    text-decoration-line: none;
}

header {
    background-color: #fff;
    padding: 24px 48px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    max-width: 1290px;
    margin: 0 auto;
}

.logo img {
    width: 50px;
}

nav a {
    color: #492118;
    font-weight: 700;
    font-size: 20px;
    margin: 0 15px;
}

img {
    width: 100%;
}

main {
    padding: 0 24px;
}

.hero-section {
    margin-top: 80px;
}

.hero-container {
    margin: 0 auto;
    max-width: 1290px;
}

.hero-container p {
    color: #492118;
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
}

.section {
    margin-top: 40px;
}

.banner-container {
    margin: 0 auto;
    max-width: 850px;
}

.banner-container h2 {
    font-size: 48px;
    font-weight: 700;
    color: #492118;
    margin: 20px 0px;
    text-align: center;
}

.close-icon {
    position: absolute;
    top: 5px;
    z-index: 1;
    right: 10px;
    display: none;
}

.burger-icon-container {
    background-color: #fff;
    height: 50px;
    border-bottom-left-radius: 100px;
    width: 50px;
    display: none;
}

.hamburger-icon {
    display: flex;
    position: absolute;
    top: 16px;
    font-size: 24px;
    right: 34px
}

@media (max-width : 1200px) {
    nav a {
        font-size: 16px;
        margin: 0 12px;
    }

    header {
        padding: 18px 38px;
    }
}

@media (max-width : 960px) {
    nav a {
        font-size: 13px;
        margin: 0 10px;
    }

    header {
        padding: 14px 28px;
    }
}

@media (max-width:768px) {
    header {
        background-color: #f6f0ebb7;
        backdrop-filter: blur(8px);
        position: sticky;
        top: 0;
        padding: 8px 24px;
    }

    .logo img {
        width: 45px;
        margin-top: 8px;
    }

    .hero-section {
        margin-top: 10px;
    }

    nav {
        background-color: rgba(255, 255, 255, 0.75);
        padding: 0;
        position: absolute;
        right: 25px;
        top: 20px;
        padding: 10px 0;
        border-radius: 10px;
        display: none;
    }

    .section {
        margin-top: 30px;
    }

    nav a {
        display: flex;
        margin-bottom: 5px;
        font-size: 10px;
        flex-direction: column;
    }

    .hero-container p {
        font-size: 15px;
    }

    .banner-container h2 {
        font-size: 18px;
    }

    .section {
        margin-top: 25px;
    }

    .burger-icon-container , .close-icon  {
        display: block;
    }

    .menu-open .burger-icon-container {
        display: none;
    }

    .menu-open nav {
        display: block;
    }
    
}